<div class="header-title">About Us</div>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".header-title").addClass("normal");
        }, 100);
    });
</script>
